/* Variables and standard design*/

:root {
    --fw-normal: 400;
    --fw-bold: 700;
    --color-nutmeg: hsl(14, 45%, 36%);
    --color-raspberry: hsl(332, 51%, 32%);
    --color-white: hsl(0, 0%, 100%);
    --color-rose-white: hsl(330, 100%, 98%);
    --color-eggshell: hsl(30, 54%, 90%);
    --color-lightgrey: hsl(30, 18%, 87%);
    --color-brown: hsl(30, 10%, 34%);
    --color-charcoal: hsl(24, 5%, 18%);
    --ff-sans: 'Young Serif', serif;
    --ff-sans-serif: 'Outfit', sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--ff-sans-serif);
}

img {
    width: 100%;
    border-radius: 15px;
}

body {
    background-color: var(--color-eggshell);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100svh;
    position: relative;
}

h2 {
    color: var(--color-nutmeg);
    font-family: var(--ff-sans);
    font-size: 2rem;
    font-weight: var(--fw-normal);
}

li, p, td, th {
    color: var(--color-brown);
}

.bold {
    font-weight: var(--fw-bold);
}

.nutmeg {
    color: var(--color-nutmeg);
}

.background {
    width: 45rem;
    border-radius: 30px;
    margin: 0 auto;
    background-color: var(--color-white);
}

.container{
    max-width: 41rem;
    margin: 0 auto;
    padding: 2rem 0;
    padding-bottom: 0;
}

/* header */

.header h1 {
    font-family: var(--ff-sans);
    font-weight: var(--fw-normal);
    color: var(--color-charcoal);
    margin-bottom: 1.5rem;
    font-size: 2.5rem;
}

.header p {
    line-height: 1.5rem;
}

/* preparation section */

.preparation {
    background-color: var(--color-rose-white);
    padding: 1.5rem;
    border-radius: 15px;
}

.preparation li {
    margin: 0.25rem 0.25rem 0.5rem 1.5rem;
    padding-left: 1.5rem;
}

.preparation h2 {
    color: var(--color-raspberry);
    font-family: var(--ff-sans-serif);
    font-size: 1.25rem;
    margin-bottom: 0.75rem;
}

/* ingredients section */

.ingredients {
    border-bottom: 2px solid var(--color-lightgrey);
    padding-bottom: 2rem;
}

.ingredients h2 {
    margin-bottom: 1rem;
}

.ingredients li {
    margin: 0.25rem 0.25rem 0.5rem 1.5rem;
    padding-left: 1rem;
}

/* instruction section*/

.instructions {
    border-bottom: 2px solid var(--color-lightgrey);
    padding-bottom: 2rem;
}

.instructions ol > li::marker {
    font-weight: bold;
}

.instructions h2 {
    margin-bottom: 1rem;
}

.instructions li {
    margin: 0.25rem 0.25rem 0.5rem 1.5rem;
    padding: 0 1rem;
    line-height: 1.5rem;
}

/* nutrition section */

.nutrition {
    padding-bottom: 2rem;
}

.nutrition p {
    margin: 1rem 0;
}

tr:last-child > * {
    border-bottom: none;
}

table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
}

table td {
    width: 50%;
    line-height: 2.5rem;
    padding-left: 2rem;
}

table th {
    font-weight: normal;
    text-align: left;
    padding-left: 2rem;
}

td, th {
    border-bottom: 1px solid var(--color-lightgrey);
}

/* media-query for mobile */

@media only screen and (max-width: 656px) {

    .container {
        padding: 1rem 2rem;
    }

    .container--full-image {
        padding: 0;
        border-radius: 0;
    }   

    img {
        border-radius: 0;
    }
    
    .header h1 {
        font-size: 2.25rem;
        line-height: 1;
    }

    .background {
        border-radius: 0;
    }
}
